body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Times New Roman", serif;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #D1CAC2;
    width: 100%;
    height: 70px;
    overflow: auto;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}

a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    target-name: new;
    target-new: tab;
}

a.hover {
    color: #000;
}

.button {
    /*-moz-box-shadow: 0 1px 0 0 #694632;*/
    /*-webkit-box-shadow: 0 1px 0 0 #694632;*/
    /*box-shadow: 0 1px 0 0 #694632;*/
    background-color: #694632;
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    display: inline-block;
    cursor: pointer;
    color: #CEB8A2;
    font-family: Arial, "Times New Roman", serif;
    font-size: 18px;
    font-weight: bold;
    /*padding: 12px 12px;*/
    margin: 0;
    text-transform: none;
    /*text-decoration: none;*/
}

.button:hover {
    background-color: #694632;
    color: #CEB8A2;
    text-shadow: #CEB8A2;
}

.button:active {
    position: relative;
    top: 1px;
}

.banner-area {
    position: relative;
    background-image: url(test.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.Database-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: #694632;
    color: #CEB8A2;
}

.About_area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: #CEB8A2;
}

.Sources_area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: #694632;
    color: #CEB8A2;
}

.Database {
    padding-top: 70px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    background: #694632;
    color: #CEB8A2;
}


.Table-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.text-part {
    width: 65%;
    height: 80%;
}

.table-part {
    width: 95%;
    height: 85%;
}

h1 {
    font-size: 40px;
    font-family: Arial, "Times New Roman", serif;
}

p {
    font-size: 20px;
}


.database-options {
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

table {
    border-spacing: 1px;
    border-collapse: collapse;
    border-radius: 20px;
    background: #ffffff;
    overflow: hidden;
    width: auto;
    margin: 0 auto;
    position: relative;
}

th {
    height: 50px;
    width: auto;
    text-align: center;
    border-bottom: 3px solid black;
    background-color: #d4d7de;
    font-size: 16px;
}

td {
    height: 25px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    padding: 7px;
    border-top: 1px solid black;
    word-break: break-word;
    font-size: 15px;
}

tr:nth-child(odd) {
    background-color: #e5e7e9;
}

.button-show {
    background-color: #694632;
    border: none;
    color: #CEB8A2;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.accordion-about {
    background-color: #CEB8A2;
    color: #694632;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}


.accordion-about:after {
    content: '\002B';
    color: #694632;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active-about:after {
    content: "\2212";
}

.panel-about {
    padding: 0 18px;
    background-color: #CEB8A2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.accordion-database {
    background-color: #694632;
    color: #CEB8A2;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}


.accordion-database:after {
    content: '\002B';
    color: #CEB8A2;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active-database:after {
    content: "\2212";
}

.panel-database {
    padding: 0 18px;
    background-color: #694632;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
