<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blast Results</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <a href="#" class="logo">Eindopdracht</a>
        <ul class="nav">
            <li><a href="website.html">Home</a></li>
            <li><a href="database.html">Database</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="sources.html">Sources</a></li>
        </ul>
    </div>

    <div class="About_area" id="About">
        <div class= "text-part">
            <h1>About</h1>
            <p> How does it all work and how has it been made?</p>
        </div>
    </div>

</body>
</html>