<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blast Results</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <a href="#" class="logo">Eindopdracht</a>
        <ul class="nav">
            <li><a href="website.html">Home</a></li>
            <li><a href="database.html">Database</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="sources.html">Sources</a></li>
        </ul>
    </div>

    <div class= "Database-area" id="Database">
        <div class= "text-part">
            <h1>The Database</h1>
            <p> Filtering out stuff.</p>
        </div>
    </div>

</body>
</html>