<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blast Results</title>
    <link rel="stylesheet"
          href="{{ url_for("static", filename= "index.css") }}">
    <script src= {{ url_for("static", filename="index.js") }}></script>
</head>
<body>
<div class="navbar">
    <a href="/" class="logo">Mushroom project</a>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/#Database">Database</a></li>
        <li><a href="/#About">About</a></li>
        <li><a href="/#Sources">Sources</a></li>
    </ul>
</div>

<div class="Database" id="Database">
    <div class="text-part">
        <form method="get">
            <h1>Search the database</h1>
            <p><a href="/blast" class="button">BLAST</a> your own sequence</p>
            <p>Use the database to <select name="choice">
                <option value="search">search</option>
                <option value="count">count</option>
            </select><br>
                Search for something in <select name="select">
                    <option value="organism">organism</option>
                    <option value="protein">protein</option>
                </select><br>
                Search for <input type="text" name="description"><br>
                Limit <input type="number" name="limit" placeholder="10">
            </p>
            <p style="display: inline;">
                {% for value_1 in values_1 %}
                    <input type="checkbox"
                           name={{ value_1 }} value={{ value_1 }}>
                    {{ value_1 }}
                    <br>
                {% endfor %}

                <button class="button-show" type="button"
                        onclick="show_hide()">More/less options
                </button>
            </p>
            <div id="hidden" style="display: none;">
                {% for value_2 in values_2 %}
                    <input class="more-options" type="checkbox"
                           name={{ value_2 }} value={{ value_2 }}>{{ value_2 }}
                    <br>
                {% endfor %}

            </div>
            <input type="submit" name="submit" value="Search"><br><br>
        </form>
    </div>
</div>
<div class="Table-area">
    <div class="table-part">
        {% if data != "" %}
            <table>
                <tr>
                    {% if rows %}
                        {% if not count %}
                            {% for show in show_values %}
                                <th>{{ show }}</th>
                            {% endfor %}
                        {% else %}
                            {% for show in show_values %}
                                <th>{{ show }}</th>
                                <th>Amount</th>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <p align="center">There are no results with the used
                            parameters</p>
                    {% endif %}
                </tr>
                {% if accession %}
                    {% for row, link in data %}
                        <tr>
                        {% if not row[1] %}
                            <td>
                                <a href={{ link }} target="_blank">{{ row[0] }}</a>
                            </td>
                        {% elif not row[2] %}
                            <td>{{ row[0] }}</td>
                            <td>
                                <a href={{ link }} target="_blank">{{ row[1] }}</a>
                            </td>
                        {% elif not row[3] %}
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>
                                <a href={{ link }} target="_blank">{{ row[2] }}</a>
                            </td>
                        {% elif not row[4] %}
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>
                                <a href={{ link }} target="_blank">{{ row[3] }}</a>
                            </td>
                        {% elif not row[5] %}
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>
                                <a href={{ link }} target="_blank">{{ row[4] }}</a>
                            </td>
                        {% elif not row[6] %}
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>
                                <a href={{ link }} target="_blank">{{ row[5] }}</a>
                            </td>
                        {% elif not row[7] %}
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>
                                <a href={{ link }} target="_blank">{{ row[6] }}</a>
                            </td>
                        {% elif not row[8] %}
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            <td>
                                <a href={{ link }} target="_blank">{{ row[7] }}</a>
                            </td>
                        {% elif not row[9] %}
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            <td>{{ row[7] }}</td>
                            <td>
                                <a href={{ link }} target="_blank">{{ row[8] }}</a>
                            </td>
                        {% else %}
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            <td>{{ row[7] }}</td>
                            <td>{{ row[8] }}</td>
                            <td>
                                <a href={{ link }} target="_blank">{{ row[9] }}</a>
                            </td>
                        {% endif %}
                    {% endfor %}

                {% endif %}


                {% if not accession %}
                    {% for row in data %}
                        <tr>
                            {% if not row[1] %}
                                <td>
                                    {{ row[0] }}
                                </td>
                            {% elif not row[2] %}
                                <td>{{ row[0] }}</td>
                                <td>
                                    {{ row[1] }}
                                </td>
                            {% elif not row[3] %}
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>
                                    {{ row[2] }}
                                </td>
                            {% elif not row[4] %}
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>
                                    {{ row[3] }}
                                </td>
                            {% elif not row[5] %}
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>
                                    {{ row[4] }}
                                </td>
                            {% elif not row[6] %}
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>
                                    {{ row[5] }}
                                </td>
                            {% elif not row[7] %}
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[5] }}</td>
                                <td>
                                    {{ row[6] }}
                                </td>
                            {% elif not row[8] %}
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[5] }}</td>
                                <td>{{ row[6] }}</td>
                                <td>
                                    {{ row[7] }}
                                </td>
                            {% elif not row[9] %}
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[5] }}</td>
                                <td>{{ row[6] }}</td>
                                <td>{{ row[7] }}</td>
                                <td>
                                    {{ row[8] }}
                                </td>
                            {% else %}
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[5] }}</td>
                                <td>{{ row[6] }}</td>
                                <td>{{ row[7] }}</td>
                                <td>{{ row[8] }}</td>
                                <td>{{ row[9] }}</td>
                                </tr>
                            {% endif %}
                    {% endfor %}
                {% endif %}

            </table>
        {% endif %}
    </div>

</div>
<div class="footer">
<div class="footer">
    <address><a
            href="mailto:savemycompost@gmail.com?subject=Review my data&body=Paste your table with results:%0D%0A">Contact
        us!</a></address>
</div></div>
</body>
</html>