<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blast Results</title>
    <link rel="stylesheet" href= '{{ url_for('static', filename= 'index.css')}}'>
</head>
<body>
    <div class="navbar">
        <a href="#" class="logo">Eindopdracht</a>
        <ul class="nav">
            <li><a href="#Home">Home</a></li>
            <li><a href="#Database">Database</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Sources">Sources</a></li>
        </ul>
    </div>

    <div class="banner-area" id="Home"></div>

    <div class= "Database-area" id="Database">
        <div class= "text-part">
            <h1>The Database</h1>
            <p> Filtering out stuff.</p>
            <p>Let's take a look at the <a href="database.html" class="button"> database </a></p>

        </div>
    </div>

    <div class="About_area" id="About">
        <div class= "text-part">
            <h1>About</h1>
            <p> How does it all work and how has it been made?</p>
            <p>More specific details!</p>
        </div>
    </div>

    <div class="Sources_area" id="Sources">
        <div class= "text-part">
            <h1>Sources</h1>
            <p> All used sources to provide this application.</p>
            <p>...</p>
        </div>
    </div>
</body>

<footer>
    <h6> Yaris van Thiel, Stijn Bruggink & Morgan Atmodimedjo </h6>
</footer>

</html>